<section class="admin-page" *ngIf="products">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="d-flex justify-content-between my-3">
          <header class="h2">Product List</header>
          <button [routerLink]="['/admin/create']" class="add--btn">Add Product</button>
        </div>

          <app-paging-header
            [totalCount]="totalCount"
            [pageSize]="this.shopParams.pageSize"
            [pageNumber]="this.shopParams.pageNumber"
          ></app-paging-header>

        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th scope="col">
                <div>Id</div>
              </th>
              <th scope="col">
                <div>Product</div>
              </th>
              <th scope="col">
                <div>Name</div>
              </th>
              <th scope="col">
                <div>Price</div>
              </th>
              <th scope="col">
                <div>Edit</div>
              </th>
              <th scope="col">
                <div>Delete</div>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let product of products">
              <td data-label=""><span class="item-description-text">{{product.id}}</span></td>
              <td data-label="">
                <div class="product-list-img">
                  <img src="{{product.pictureUrl || '/assets/images/placeholder.png'}}" alt="{{product.name}}" class="custom-img-fluid" >
                </div>
              </td>
              <td data-label=""><span class="item-description-text">{{product.name}}</span></td>
              <td data-label=""><span class="item-description-text">{{product.price | currency}}</span></td>
              <td data-label=""><button [routerLink]="['edit', product.id]" class="edit--btn">Edit</button></td>
              <td data-label=""><button (click)="deleteProduct(product.id)" class="delete--btn">Delete</button></td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="d-flex justify-content-center" *ngIf="totalCount > 0">
          <app-pager
            [pageSize]="shopParams.pageSize"
            [pageNumber]="shopParams.pageNumber"
            [totalCount]="totalCount"
            (pageChanged)="onPageChanged($event)"
          ></app-pager>
        </div>
      </div>
    </div>
  </div>
</section>
