<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <table class="table table-hover" style="cursor: pointer;">
               <thead class="thead-light">
                   <tr class="bg-primary">
                       <th><div class="order-text-header">Order</div></th>
                       <th><div class="order-text-header">Date</div></th>
                       <th><div class="order-text-header">Total</div></th>
                       <th><div class="order-text-header">Status</div></th>
                   </tr>
               </thead>
               <tbody>
                   <tr *ngFor="let order of orders" routerLink="/orders/{{order.id}}">
                    <th><span class="order-text"> # {{order.id}}</span></th>
                    <th><span class="order-text"> {{order.orderDate | date: 'short'}}</span></th>
                    <th><span class="order-text"> {{order.total | currency}}</span></th>
                    <th><span class="order-text"> {{order.status}}</span></th>
                   </tr>
               </tbody>
            </table>
        </div>
    </div>
</div>
