/* You can add global styles to this file, and also import other style files */
@import"../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import"../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css";;
@import"../node_modules/ngx-toastr/toastr.css";
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@500&family=Montserrat:wght@500;600;700;800;900&display=swap" rel="stylesheet');
$montserrat-font: 'Montserrat', sans-serif;


.xng-breadcrumb-root {
    padding: 8px 16px;
    display: inline;
    border-radius: 0;
}

label.xng-breadcrumb-trail {
    margin-bottom: 0;
    color: #B1B1B1;
}

.xng-breadcrumb-seperator {
    padding: 0 0;
}

.StripeElement {
  height: 3.125em;
}

.customClass {

  border: none;
  background-color: transparent;

  .card-header {
    background-color: transparent;
    border: none;
    padding: 0;
  }

  .card-body {
    padding: 0;
  }

  .panel-body {
    background-color: transparent;

  }
}

.ngx-gallery-thumbnail.ngx-gallery-active {
  border: 1px solid #1F80BF !important;
}

.ngx-gallery-thumbnail {
  border: 1px solid #e4e2e288 !important;
}

//Tab Edit product section

.product-tabset > .nav-tabs > li.open > a, .product-tabset > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}

.product-tabset > .nav-tabs > li.open > a > i, .product-tabset > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}

.product-tabset > .nav-tabs > li.open .dropdown-menu, .product-tabset > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}

.product-tabset > .nav-tabs > li.active {
  border-bottom: 4px solid #E95420;
  position: relative;
}

.product-tabset > .nav-tabs > li.active > a {
  border: 0 !important;
  color: #333333;
}

.product-tabset > .nav-tabs > li.active > a > i {
  color: #404040;
}

.product-tabset > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}

