<div class="order-totals-container">
  <div class="order-summary-header">
    Order Summary
</div>
<div class="p-4">
    <p class="shipping-info-text">Shipping costs will be added depending on choices made during
    checkout.</p>
    <ul class="list-unstyled mb-4" *ngIf="(basketTotal$ | async ) as totals">
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="order-list-text">Order Subtotal</strong>
            <span class="order-total-numbers">{{totals.subtotal | currency}}</span>
        </li>
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="order-list-text">Shipping and handling</strong>
            <span class="order-total-numbers">{{totals.shipping | currency}}</span>
        </li>
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="order-list-text">Total</strong>
            <span class="order-total-numbers">{{totals.total | currency}}</span>
        </li>
    </ul>
</div>
</div>

