<section class="product-edit mt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <form #productForm="ngForm" (ngSubmit)="onSubmit(productForm.valid && productForm.value)">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="name">Product Name</label>
              <input
                [ngClass]="{'is-invalid': name.invalid && (name.dirty || name.touched)}"
                required
                type="text"
                class="form-control"
                id="name"
                placeholder="Product Name"
                name="name"
                #name="ngModel"
                [(ngModel)]="product.name"
              >
              <div *ngIf="name.invalid && (name.dirty || name.touched)" class="invalid-feedback">
                <div *ngIf="name.errors.required">
                  Product Name is required
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="price">Price</label>
              <input
                [ngClass]="{'is-invalid': price.invalid && (price.dirty || price.touched)}"
                required
                type="text"
                class="form-control"
                id="price"
                placeholder="Price"
                currencyMask
                name="price"
                #price="ngModel"
                pattern="^\$?([0-9]{1,3},([0-9]{3},)*[0-9]{3}|[0-9]+)(\.[0-9][0-9])?$"

                [ngModel]="+product.price | number: '1.2-2'"
                (ngModelChange)="updatePrice(+$event)"
              >
              <div *ngIf="price.invalid && (price.dirty || price.touched)" class="invalid-feedback">
                <div *ngIf="price.errors.required">
                  Product price is required
                </div>
                <div *ngIf="price.errors.pattern">
                  Product price needs to be decimal value
                </div>
                <div *ngIf="price.errors.min">
                  Product price must be greater than zero
                </div>
              </div>
            </div>
          </div>


            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="productSKU">ProductSKU</label>
                <textarea
                  [ngClass]="{'is-invalid': description.invalid && (description.dirty || description.touched)}"
                  required
                  #description="ngModel"
                  class="form-control"
                  id="productSKU"
                  [(ngModel)]="product.productSKU"
                  name="productSKU"
                  rows="1"></textarea>
                <div *ngIf="description.invalid && (description.dirty || description.touched)" class="invalid-feedback">
                  <div *ngIf="description.errors.required">
                    ProductSKU required.
                  </div>
                </div>
              </div>

              <div class="form-group col-md-6">
                <label for="productRatingScore">Product Rating Score (0-5)</label>
                <textarea
                  [ngClass]="{'is-invalid': description.invalid && (description.dirty || description.touched)}"
                  required
                  #description="ngModel"
                  class="form-control"
                  id="productRatingScore"
                  [(ngModel)]="product.productRatingScore"
                  name="productRatingScore"
                  rows="1"></textarea>
                <div *ngIf="description.invalid && (description.dirty || description.touched)" class="invalid-feedback">
                  <div *ngIf="description.errors.required">
                    Product rating required.
                  </div>
                </div>
              </div>
            </div>

          <div class="row">
            <div class="form-group col-md-12">
              <label for="pictureUrl">Picture URL</label>
              <textarea
                [ngClass]="{'is-invalid': description.invalid && (description.dirty || description.touched)}"
                required
                #description="ngModel"
                class="form-control"
                id="pictureUrl"
                [(ngModel)]="product.pictureUrl"
                name="pictureUrl"
                rows="1"></textarea>
              <div *ngIf="description.invalid && (description.dirty || description.touched)" class="invalid-feedback">
                <div *ngIf="description.errors.required">
                  Please provide a product picture.
                </div>
              </div>
            </div>
          </div>



            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="numberOfRatings">Number of product ratings</label>
                <textarea
                  [ngClass]="{'is-invalid': description.invalid && (description.dirty || description.touched)}"
                  required
                  #description="ngModel"
                  class="form-control"
                  id="numberOfRatings"
                  [(ngModel)]="product.numberOfRatings"
                  name="numberOfRatings"
                  rows="1"></textarea>
                <div *ngIf="description.invalid && (description.dirty || description.touched)" class="invalid-feedback">
                  <div *ngIf="description.errors.required">
                    Number of ratings required.
                  </div>
                </div>
              </div>
            </div>



          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="technicalDescription">Technical Description</label>
              <textarea
                [ngClass]="{'is-invalid': description.invalid && (description.dirty || description.touched)}"
                required
                #description="ngModel"
                class="form-control"
                id="technicalDescription"
                [(ngModel)]="product.technicalDescription"
                name="technicalDescription"
                rows="1"></textarea>
              <div *ngIf="description.invalid && (description.dirty || description.touched)" class="invalid-feedback">
                <div *ngIf="description.errors.required">
                  Product Description is required
                </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="description">Short Description</label>
              <textarea
                [ngClass]="{'is-invalid': description.invalid && (description.dirty || description.touched)}"
                required
                #description="ngModel"
                class="form-control"
                id="shortdescription"
                [(ngModel)]="product.shortDescription"
                name="shortdescription"
                rows="1"></textarea>
              <div *ngIf="description.invalid && (description.dirty || description.touched)" class="invalid-feedback">
                <div *ngIf="description.errors.required">
                  Product Short Description is required
                </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="description">Description</label>
              <textarea
                [ngClass]="{'is-invalid': description.invalid && (description.dirty || description.touched)}"
                required
                #description="ngModel"
                class="form-control"
                id="description"
                [(ngModel)]="product.description"
                name="description"
                rows="3"></textarea>
              <div *ngIf="description.invalid && (description.dirty || description.touched)" class="invalid-feedback">
                <div *ngIf="description.errors.required">
                  Product Description is required
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="brand">Brand</label>
              <select id="brand" class="form-control" name="productBrandId" [(ngModel)]="product.productBrandId" required>
                <option *ngFor="let brand of brands"
                        [selected]="product.productBrandId === brand.id"
                        [ngValue]="brand.id">{{brand.name}}</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="type">Type</label>
              <select id="type" class="form-control" name="productTypeId" [(ngModel)]="product.productTypeId" required>
                <option *ngFor="let type of types"
                        [selected]="product.productTypeId === type.id"
                        [ngValue]="type.id">{{type.name}}</option>
              </select>
            </div>
          </div>
          <button [disabled]="!productForm.valid" type="submit" class="btn btn-primary my-3 float-right">Submit</button>

          <div>
          SKU:
          {{product.productSKU}}
          Name:
          {{product.name}}
          shortDescription:
          {{product.shortDescription}}
          TechnicalDescription:
          {{product.technicalDescription}}
          Description
          {{product.description}}
          numberofratings:
          {{product.numberOfRatings}}
          rating score:
          {{product.productRatingScore}}
          type id:
          {{product.productTypeId}}
          brand id:
          {{product.productBrandId}}

          {{product.pictureUrl}}
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

