@media (min-width: 900px) {
  .order-summary-holder {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .checkout-section-holder {
    border: 2px solid red;
    min-width: 50%;
  }

  .checkout-stepper-holder {
    width: 50em;
  }

}

.checkout-section-holder {
  display: flex;
  justify-content: center;
  margin-top: 3rem !important;
}

.checkout-order-section-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.order-summary-holder {
  //default for this was col-4 before
  display: flex;

}


