@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@500&family=Montserrat:wght@500;600;700;800;900&display=swap" rel="stylesheet');
$montserrat-font: 'Montserrat', sans-serif;
$lexend-font: 'Lexend', sans-serif;
$primary-font-color: #006EB9;


@media (max-width: 960px) {
  .hero-text-header {
    margin-left: 1em !important;
  }
}
@media (max-width: 1000px)
{
  .grid-container {
    grid-template-columns: 1fr;
  }

}
@media (min-width: 960px)
{
  .grid-container {

    display: grid;
    grid-template-columns: 45vw 55vw;
  }

  .hero-text-header {
    margin-left: 2em;
    margin-right: 5em;
    font-size: 4.5em !important;
  }

  .hero-image-holder {
    height: calc(100vh - 3.5em) !important;
  }

  .shop-now-btn {
    margin-left: 7em !important;
    width: 22em !important;
  }

  .hero-message-holder {
    margin-top: 5em !important;
  }

}
.home-container {
  margin-top: 3.5em;
  display: flex;
  justify-content: center;
}



.hero-image-holder {
  background-position: center;
  background-size: cover;
  background-image: url("/assets/images/img-hero.jpg");
  height: calc(50vh);
  z-index: -1;

}

.hero-message-holder {
  display: flex;
  flex-direction: column;
  margin-top: 1em;

}

.hero-text-header {
  font-family: $montserrat-font;
  color: $primary-font-color;
  font-size: 2.5em;
  font-weight: 800;
  line-height: 1.1;

}

.hero-text-holder {
  margin-bottom: 1em;
}

.btn-holder {
  position: relative;
}

//buttons
.shop-now-btn {

  align-items: center;
  justify-content: center;
  background-color: #E81D88;
  border: 2px solid #E81D88;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: $montserrat-font;
  font-size: 1.3em;
  font-weight: 600;
  height: 3em;
  line-height: 24px;
  //width: 22em;
  width: 100%;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.shop-now-btn:focus {
  color: #171e29;
}

.shop-now-btn:hover {
  background-color: #f7369d;
  border-color: #f7369d;
  fill: #06f;
}

.shop-now-btn:active {
  background-color: #3385ff;
  border-color: #3385ff;
  fill: #06f;
}
