@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@500&family=Montserrat:wght@500;600;700;800;900&display=swap" rel="stylesheet');
$montserrat-font: 'Montserrat', sans-serif;
$lexend-font: 'Lexend', sans-serif;
$primary-font-color: #006EB9;
$off-color: #E81D88;


@media (max-width: 960px) {
  .hero-text-header {
    margin-left: 1em !important;
  }
}
@media (max-width: 1000px)
{
  .grid-container {
    grid-template-columns: 1fr;
  }

}
@media (min-width: 960px)
{
  .grid-container {

    display: grid;
    grid-template-columns: 45vw 55vw;
  }

  .hero-text-header {
    margin-left: 2em;
    margin-right: 5em;
    font-size: 4.5em !important;
  }

  .hero-image-holder {
    height: calc(100vh - 3.5em) !important;
  }

  // .shop-now-btn {

  //   width: 22em !important;
  // }

  .hero-message-holder {
    margin-top: 5em !important;
  }

}

//redesign

@media (min-width: 900px) {
  .home-main-window {
    grid-template-columns: 1fr 1fr !important;
  }
  .home-content-main-pane {
    padding-bottom: 10em !important;
    padding-right: 2em !important;
    margin-right: 2em !important;
  }

}

@media (max-width: 900px) {
  .home-img--main {
    position: relative;
    height: calc(100vh - 10em) !important;
    grid-row: 2 !important;
  }
  .home-content-main {
    height: auto !important;
  }
  .home-img--main img {
    width: 100% !important;
  }

  .home-content-main-pane {
    grid-row: 1 !important;
    height: 18em !important;
  }
}

.home-main-window {
  margin-top: 3.5em;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}

.home-content-main {
  height: calc(100vh - 3.5em);
}

.home-content-main-pane {
  height: calc(100vh - 3.5em);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-img--main {

  height: 100%;
  background-size: contain;
  background-position: center;
}

.home-img--main img {
  height: 100%;
  width: 80%;
  object-fit: cover;
}


.main-message-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.content-main-info {
  font-family: $montserrat-font;
  color: $primary-font-color;
  font-weight: 800;
  font-size: clamp(3rem, 7vw, 5.5rem);
  line-height: 1.1;
  padding-bottom: 0.3em;
}

//new btns
.cssbuttons-io-button {
  background: $off-color;
  color: white;
  font-family: $montserrat-font;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 1.5em;
  font-weight: 700;
  border-radius: 0.3em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em $off-color;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
 }

 .cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.3em;
  width: 2.3em;
  border-radius: 0.3em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em $off-color;
  right: 0.3em;
  transition: all 0.3s;
 }

 .cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
 }

 .cssbuttons-io-button .icon svg {
  width: 2em;
  height: 1.5em;
  transition: transform 0.3s;
  color: $off-color;
 }

 .cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
 }

 .cssbuttons-io-button:active .icon {
  transform: scale(0.95);
 }

//end btns



//end of redesign




.home-container {
  margin-top: 3.5em;
  display: flex;
  justify-content: center;
}



.hero-image-holder {
  background-position: center;
  background-size: cover;
  background-image: url("/assets/images/img-hero.jpg");
  height: calc(50vh);
  z-index: -1;

}



.hero-message-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.hero-text-header {
  font-family: $montserrat-font;
  color: $primary-font-color;
  font-size: 2.5em;
  font-weight: 800;
  line-height: 1.1;

}

.hero-text-holder {
  margin-bottom: 1em;
}

.btn-holder {
  position: relative;
}



//New style
// .home-background {
//   background-image: url("/assets/images/bg_home.jpg");

//   background-repeat: no-repeat;
//   background-position: center center;
//   height: 100vh;
//   padding-top: 10px;
// }



//Functional

@media (max-width: 680px) {

  .bg-home {
    display: none!important;
  }

  .bg-home img {
    display: none;
  }

  .message-box {
    top: 15%;
    left: 0 !important;
    //position: relative !important;
    bottom: 65% !important;
    font-size: 2.65em !important;
  }

  .button-holder-shop {
    margin-top: 0.5em;
  }

}

@media (min-width: 680px){
  .mobile-landing-image {
    display: none !important;
  }
}

.button-holder-shop {
  position: relative;
  margin-top: 1em;
}


.mobile-landing-img-holder {
  position: fixed;
  width: 100%;
  height: 100%;

}

.mobile-landing-image {
  display: block;
  width: 100%;
  height: auto;
}

.bg-home {
  z-index: -1;
  position: fixed;
  top: -49%;
  left: -50%;
  width: 200%;
  height: 200%;
}

.bg-home img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%
}

.message-box {
  font-family: $montserrat-font;
  font-size: 3em;
  font-weight: 400;
  position: absolute;
  text-align: center;
  bottom: 25%;
  left: 12%;


}

.shop-now-btn {
  align-items: center;
  background-color: #1F80BF;
  border: 2px solid #1F80BF;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: $montserrat-font;
  font-size: 0.6em;
  font-weight: 500;
  height: 2em;
  width: 7em;
  justify-content: center;
  line-height: 24px;
  outline: 0;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}


.shop-now-btn:hover {
  background-color: #3385ff;
  border-color: #3385ff;
  fill: #06f;
}

//end of new style
