.featured {
    height: 10vh;
}

.testBackground{

  height: 50vh;
}

.tempPicHolder{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red transparent;
    ;
}


