
<section class="home-hero">
  <div class="two-col">
    <div class="col-100vh">
      <div>
        <div class="home-hero-img">
          <img src="/assets/images/Home-Hero_881-1280.jpg">
        </div>
      </div>
    </div>
    <div class="col-100vh-flex">
      <div class="hero-content">
        <div class="hero-text">
          <a>Providing a more relaxed shopping experience since 2022</a>
        </div>
        <div class="home-hero_buttons">
          <img src="/assets/images/Discover_button.svg" class="discover_img">
          <img src="/assets/images/Explore_button.svg" class="explore_img">
        </div>
      </div>
    </div>
  </div>
</section>

<!--Probably make this into a component?-->
<section class="information-section">
  <div class="info-pane"></div>
</section>


