<div class="basket-container">
  <div class="product-basket-holder">
      <div *ngIf="basket$ | async">
        <app-basket-summary
        (decrement)="decrementItemQuantity($event)"
        (increment)="incrementItemQuantity($event)"
        (remove)="removeBasketItem($event)"
        ></app-basket-summary>
        <app-order-totals></app-order-totals>
        <div class="checkout-button-holder">
          <!--TODO: Hook up checkout button-->
          <button class="checkout-btn" role="button">Checkout</button>
        </div>
      </div>
  </div>
</div>
