@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@500&family=Montserrat:wght@500;600;700;800;900&display=swap" rel="stylesheet');
$montserrat-font: 'Montserrat', sans-serif;
$base-color: #1F80BF;
$light-color: #AAAAAA;

@media (min-width: 600px) {
  .information-grid { grid-template-columns: repeat(2, 1fr); }
}



.product-details-holder {
  display: flex;
  border: 2px solid red;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: .1em;
  justify-content: center;
}

.information-grid {
  max-width: 1200px;
  display: grid;
  margin: 0 auto;
  gap: 1em;

}

.product-graphic-holder {

  border: 2px solid blue;
}

.product-info-holder {

  border: 2px solid green;
}

.title-text {
  font-family: $montserrat-font;
  color: $base-color;
  font-weight: 700;
  font-size: 1.3em;
}

.img-holder {

  border: 2px solid black;
}
.product-image {
  width: 100%;
  height: 25em;
  object-fit: contain;
}

.product-type-text {
  margin: 0;
  margin-left: .1em;
  margin-top: -1.25em;
  font-family: $montserrat-font;
  color: $light-color;
  font-weight: 500;
}

.product-price-text {
  margin: 0;
  //margin-top: 2em;
  padding-top: 1.1em;
  color: $base-color;
  font-family: $montserrat-font;
  font-weight: 600;
  font-size: 1.3rem;
}
