<div class="product-details-holder">
  <div class="information-grid">
    <div class="product-graphic-holder">
      <div class="img-holder">
        <img src="{{product.pictureUrl}}" alt="{{product.name}}" class="product-image">
      </div>
    </div>
    <div class="product-info-holder">
      <div class="product-title">
        <p class="title-text">{{product.name}}</p>
        <p class="product-type-text">{{product.productType}}</p>
        <p class="product-price-text">{{product.price | currency}}</p>
      </div>
    </div>
  </div>
</div>



