@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@500&family=Montserrat:wght@500;600;700;800;900&display=swap" rel="stylesheet');
$montserrat-font: 'Montserrat', sans-serif;
$base-color: #1F80BF;
$light-color: #AAAAAA;

@media (min-width: 600px) {
  .information-grid { grid-template-columns: repeat(2, 1fr); }
  .product-details-holder { padding-top: 3em;}

}



.product-details-holder {
  display: flex;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: .1em;
  justify-content: center;
}

.information-grid {
  max-width: 1200px;
  display: grid;
  margin: 0 auto;
  gap: 1em;

}

.product-graphic-holder {
  padding-right: .1em;

}

.product-info-holder {
  padding-left: 1em;

}

.title-text {
  font-family: $montserrat-font;
  color: $base-color;
  font-weight: 700;
  font-size: 1.3em;
}

.img-holder {
  padding-right: .1em;

}
.product-image {
  width: 100%;
  height: 25em;
  object-fit: contain;
}

.product-type-text {
  margin: 0;
  margin-top: -1.55em;
  font-family: $montserrat-font;
  color: $light-color;
  font-weight: 500;
  font-size: 0.85em;
}

.product-price-text {
  margin: 0;
  padding-top: 1.1em;
  color: black;
  font-family: $montserrat-font;
  font-weight: 700;
  font-size: 1.35rem;
}

.btn-holder {
  padding-top: 1.2em;
  width: 43%;

}

.add-to-cart-btn {
  align-items: center;
  background-color: #1F80BF;
  border: 2px solid #1F80BF;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: $montserrat-font;
  font-size: 16px;
  font-weight: 600;
  height: 3.2em;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  width: 100%;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.add-to-cart-btn:focus {
  color: #171e29;
}

.add-to-cart-btn:hover {
  background-color: #3385ff;
  border-color: #3385ff;
  fill: #06f;
}

.add-to-cart-btn:active {
  background-color: #3385ff;
  border-color: #3385ff;
  fill: #06f;
}

.detail-info-box {
  margin-top: 3em;

}

.product-desc-spec-btn {
  padding-top: 1em;
  border: none;
  background-color: white;
  font-family: $montserrat-font;
  font-weight: 600;
  font-size: 1.3em;
}

.expanded-info {
  margin-top: 0.5em;
  margin-left: 0.4em;
  font-family: $montserrat-font;
  font-size: 0.85em;
  color: black;


}

