<div class="product-details-holder">
  <div class="information-grid">
    <div class="product-graphic-holder">
      <div class="img-holder">
        <img src="{{product.pictureUrl}}" alt="{{product.name}}" class="product-image">
      </div>
    </div>
    <div class="product-info-holder">
      <div class="product-title">
        <div class="title-text">{{product.name}}</div>
        <div class="product-type-text">{{product.productType}} - {{product.shortDescription | titlecase}}</div>
        <p class="product-sku-text">Article: {{product.productSKU}}</p>
        <div class="rating-system">
          <rating [(ngModel)]="rate" [max]="maxRating" [readonly]="isReadonly"></rating>
          <span class="rating-quantity-text"> ({{product.numberOfRatings}})</span>
        </div>
        <p class="product-price-text">{{product.price | currency}}</p>

        <div class="btn-holder">
          <button (click)="addItemToBasket()" class="add-to-cart-btn">Add to Cart</button>
        </div>

        <div class="detail-info-box">
          <div>
            <p class="product-description-head"> Description</p>
            <div class="product-description-text">{{product.description}}</div>
          </div>
          <p class="product-description-head">Specification</p>
          <div class="product-technical-description-text" [innerText]="product.technicalDescription | textFormat"></div>
        </div>
      </div>
    </div>
  </div>
</div>



