<div class="disclaimer-text">Note: This is just a demo site, no actual products will be shipped. But I'm still happy you're here!</div>

<div class="success-holder">
  <div class="header-text">Awesome! Your order is confirmed and we're so excited here at the office!</div>
</div>

<div class="button-holder">
  <button *ngIf="order" routerLink="/orders/{{order?.id}}" class="view--btn">View
    Your Order</button>
  <button *ngIf="!order" routerLink="/order" class="view--btn">View your Order</button>
</div>

<div class="image-holder">
  <img class="happy-dog-img" src="/assets/images/happy_dog_cropped.png" alt="happy-dog">
</div>




