<div class="mt-4" [formGroup]="checkoutForm">
    <h4 class="delivery-header">Delivery Method</h4>
    <div class="delivery-grid-holder" formGroupName="deliveryForm">
        <div class="delivery-option-item" *ngFor="let method of deliveryMethods">
           <input type="radio"
                id={{method.id}}
                (click)="setShippingPrice(method)"
                value={{method.id}}
                formControlName="deliveryMethod"
                class="custom-control-input">
           <label for="{{method.id}}" class="custom-control-label">
               <strong>{{method.shortName}} - {{method.price | currency}}</strong>
               <br>
               <span class="label-description">{{method.description}}</span>
                <div>
                  <span class="label-description">{{method.deliveryTime}}</span>
                </div>
           </label>
        </div>
    </div>
</div>


<div class="button-holder-nav">
    <button class="backtrack-btn" cdkStepperPrevious>
        <i class="fa fa-angle-left"></i> Back to Address
    </button>
    <button [disabled]="checkoutForm.get('deliveryForm').invalid" class="forward-btn" cdkStepperNext>
      Go to Review  <i class="fa fa-angle-right"></i>
    </button>
</div>

