<div class="product-card">

  <div class="thumbnail-holder">
    <img class="product-image" src="{{product.pictureUrl}}" alt="{{product.name}}">
  </div>

  <div class="information-holder">

    <p class="product-name">{{product.name}}</p>
    <div class="product-description">
      <p class="left-align-product-info">{{product.description}}</p>
    </div>

    <div class="buttonStuff">
      <button (click)="addItemToBasket()" type="button" class="add-btn">Add to cart</button>

      <div class="buy-button-holder">
      </div>

      <button routerLink="/shop/{{product.id}}"type="button" class="view-btn">View</button>
    </div>

    <div class="rating-system">
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star-half-o"></span>
      <span>(294)</span>
  </div>

  <div class="product-price">
    {{product.price | currency}}
  </div>
</div>

</div>
