@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@500&family=Montserrat:wght@500;600;700;800;900&display=swap" rel="stylesheet');
$montserrat-font: 'Montserrat', sans-serif;






//Test section
.product-card {

  width: 19em;
  height: 33em;
  margin: 0.3em;
  box-sizing: border-box;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  padding-top: 1em;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: .4s;
  background: #FFFDFA;
}

.product-card-info {

  display: grid;
  height: auto;



}

.product-info-text {
  text-align: left;
  margin-top: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
}

.rating-system {
  padding-left: 5em;
  margin-top: 3em;
}

.content:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16),
  0 3px 6px rgba(0,0,0,0.23);
  transform: translate(0px, -8px);
}

.description-text {
  text-align: left;
}


.product-card .imgbox {
  justify-content: center;
  margin-bottom: 1.5em;
}

.product-card .imgbox img {
  justify-content: center;
  display: block;
  width: 12em;
  height: 12em;
  margin: 1em auto 0;
}



.product-card-product-name {
  position: relative;
  font-family: $montserrat-font;
  font-weight: 600;
  color: #000000;
  text-align: center;
  padding-top: 1.2em;
  font-size: 1em;
}

.product-card-quick-details {

  margin-top: 2em;
  padding-bottom: 2em;
  height: 2em;
  font-family: $montserrat-font;
  font-weight: 500;
  color: #313131;
}




.fa {
  margin: .1em;
}

.checked {
  color: #FFCD3C;
}

.fa-star-half-o {
  color: #FFCD3C;
}

.product-price {

  padding-top: 2em;
  color: black;
  font-family: $montserrat-font;
  font-size: 1.1em;
  font-weight: 600;

}
//Test section


.image :hover {
    opacity: 1;
    & button {
        transform: none;
        opacity: 1;
    }
}




