<div class="product-card">
  <div class="imgbox">
    <img src="{{product.pictureUrl}}" alt="{{product.name}}">
  </div>
  <div class="product-card-product-name">
    {{product.name}}
  </div>


  <div class="product-card-info">
    <div class="product-card-quick-details">
      <div class="product-info-main">
        <p>
          {{product.description}}
        </p>
      </div>
        </div>
        <div class="rating-system">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star-half-o"></span>
          (192)
        </div>
        <div class="product-price">

      {{product.price | currency}}
    </div>
  </div>
</div>
