@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@500&family=Montserrat:wght@500;600;700;800;900&display=swap" rel="stylesheet');
$montserrat-font: 'Montserrat', sans-serif;





.product-card {

  min-width: 16em;
  min-height: 20em;
  height: 25em;
  width: 16em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  background: #FFFDFA;
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;

}

.product-card:hover {
  transform: translateY(-1px);
  background: #ffffff;

  .buttonStuff {
    visibility: visible;
  }


}

@media (max-width: 550px) {
  .product-card {
    width: 100vw;
  }
}

.product-image {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  margin-top: 2em;
}

.thumbnail-holder {
  display: flex;
  width: 7rem;
  margin: auto;
  margin-bottom: 2em;
  margin-top: 1em;

}

.information-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

}

.product-name {
  font-family: $montserrat-font;
  font-weight: 600;
  font-size: 0.9em;
  margin-bottom: 2em;
}

.product-description {

  font-family: $montserrat-font;
  font-size: .8em;


}

.left-align-product-info {
  line-height: 1.3;
  text-align: center;

}


.buttonStuff {
  font-family: $montserrat-font;
  position: absolute;
  display: flex;
  //visibility: hidden;
  //transition: all 500ms cubic-bezier(.5, 1, 0.5, 2);
}
.buy-button-holder {
  padding-left: .1em;

}
.add-btn {

  display: inline-block;
  padding: 0.2rem 1rem;
  font-size: 0.8em;
  font-weight: 600;
  color: white;
  border: 2px solid #1F80BF;
  cursor: pointer;
  position: relative;
  background-color: #1F80BF;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  font-family: $montserrat-font;
}


.add-btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  transform: translateX(-100%);
  transition: all .3s;
  z-index: -1;
 }



.view-btn {
 display: inline-block;
 padding: 0.1rem 1rem;
 font-size: 0.8em;
 font-weight: 600;
 color: #1F80BF;
 border: 2px solid #1F80BF;
 cursor: pointer;
 position: relative;
 background-color: white;
 text-decoration: none;
 overflow: hidden;
 z-index: 1;
 font-family: $montserrat-font;
}

.view-btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #1F80BF;
  transform: translateX(-100%);
  transition: all .3s;
  z-index: -1;
 }

 .view-btn:hover {
  color: white;

 }

 .view-btn:hover::before {
  transform: translateX(0);
 }

.rating-system {
  font-size: 0.75em;
  margin-top: auto;
  font-family: $montserrat-font;
  font-weight: 500;

}

.product-price {
  font-family: $montserrat-font;
  font-weight: 600;
  font-size: 0.8em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.fa {
  margin: .1em;
}


.checked {
  color: #FFCD3C;
}

.fa-star-half-o {
  color: #FFCD3C;
}

.gridInformationHolder {
  display: grid;
  grid-auto-rows: 1fr;
  align-items: center;

}
