<div [ngClass]="menuState === 'in' ? 'overflow-removed' : 'overflow-normal'">
  <div class="mobile-filter-container">
    <button class="filter-btn" (click)="toggleMobileFilterMenu()"><img src="/assets/images/icon-filter-white.png" class="filter-btn-icon" style="max-height: 50px" alt="FilterIcon"><span class="filter-icon-txt">Filter</span></button>
    <div [ngClass]="mobileFilterMenuState === 'in_filter' ? 'overflow-removed' : 'overflow-normal'">
      <div  class="filter-mobile-menu-window" [@slideInOut_mobile_filter]="mobileFilterMenuState">
        <div class="filter-panel">
          <button (click)="toggleMobileFilterMenu()">X</button>
          <div class="filter-menu-holder">

            <div class="filter-icon-mobile">
              <img src="/assets/images/filter-icon-2.png" style="max-height: 35px" alt="FilterIcon">
              <span class="filter-text-space">Filter</span>
            </div>

            <div class="filter-alternative-mobile-holder">
              <div class="filter-alternative-mobile-item">
                <span class="header">Types</span>
                <div class="check-alternative-holder">
                  <ng-container *ngIf="productTypes && brands">
                    <ng-container *ngFor="let productType of productTypes">
                      <label class="form-control">
                        <input type="radio" name="checkbox" [class.active]="productType.id === this.shopParams.typeId"
                        [value]="productType.id" (click)="onTypeSelected(productType.id)">{{productType.name}}
                      </label>
                    </ng-container>
                  </ng-container>
                </div>
              </div>

              <div class="filter-alternative-mobile-item">
                <span class="header">Price</span>
                <div class="check-alternative-holder">
                  <ng-container *ngIf="productTypes && brands">
                    <ng-container *ngFor="let sort of sortOptions">
                      <label class="form-control">
                        <input type="radio" name="checkbox" [class.active]="shopParams.sort === sort.value"
                        [value]="sort.value" (click)="onSortSelected(sort.value)">{{sort.name}}
                      </label>
                    </ng-container>
                  </ng-container>
                </div>
              </div>

              <div class="filter-alternative-mobile-item">
                <span class="header">Brands</span>
                <div class="check-alternative-holder">
                  <ng-container *ngIf="productTypes && brands">
                    <ng-container *ngFor="let brand of brands">
                      <label class="form-control">
                        <input type="radio" name="checkbox" [class.active]="brand.id === this.shopParams.brandId"
                        [value]="brand.id" (click)="onBrandSelected(brand.id)">{{brand.name}}
                      </label>
                    </ng-container>
                  </ng-container>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>






<div class="container-shop">
  <div class="tempMenu">
    <div class="filter-header">
      <div class="filter-headline">
        <div class="filter-icon">
          <img src="/assets/images/filter-icon-2.png" style="max-height: 35px" alt="FilterIcon">
        </div>
          <span class="filter-headline-label">
            Filter
          </span>
      </div>
    </div>

  <div class="filter-alternatives">
    <div class="dropdown-filter-holder">
     <div class="dropdown">
      <accordion [isAnimated]="true" class="customClass">
        <accordion-group [panelClass]="customClass" [isOpen]="true">
          <button class="button-28" accordion-heading type="button">
            <div>Types</div>
          </button>
          <div>
            <ng-container *ngIf="productTypes && brands">
              <ul class="filter-ul-items">
                <li class="filter-list-items" tabindex="0"
                  *ngFor="let productType of productTypes"
                  [class.active]="productType.id === this.shopParams.typeId"
                  [value]="productType.id"
                  (click)="onTypeSelected(productType.id)">
                  {{productType.name}}
                </li>
              </ul>
            </ng-container>
          </div>

        </accordion-group>
        <accordion-group [panelClass]="customClass" [isOpen]="true">
          <button class="button-28" accordion-heading type="button">
            Price
          </button>
          <ng-container *ngIf="productTypes && brands">
           <ul class="filter-ul-items">
            <li class="filter-list-items" tabindex="1"
              *ngFor="let sort of sortOptions"
              [class.active]="shopParams.sort === sort.value"
              [value]="sort.value"
              (click)="onSortSelected(sort.value)">
              {{sort.name}}
              </li>
           </ul>
          </ng-container>
        </accordion-group>
        <accordion-group [panelClass]="customClass" [isOpen]="true">
          <button class="button-28" accordion-heading type="button">
            Brand
          </button>
         <div>
          <ng-container *ngIf="productTypes && brands">
            <ul class="filter-ul-items">
              <li class="filter-list-items" tabindex="2"
                *ngFor="let brand of brands"
                [class.active]="brand.id === this.shopParams.brandId"
                [value]="brand.id"
                (click)="onBrandSelected(brand.id)">
                {{brand.name}}
              </li>
           </ul>
          </ng-container>
         </div>
        </accordion-group>
      </accordion>
     </div>
    </div>
  </div>
  </div>



    <div class="products-holder">
      <div class="searchbar-holder">
        <div class="searchbar-box">
          <img class="icon-search" src="assets/images/search-solid.png" alt="search-icon">
          <input (keyup.enter)="onSearch()" class="custom-field" #search placeholder="Search" type="text">
          <button (click)="onReset()" class="view-btn">Reset</button>
        </div>
      </div>
      <div *ngIf="totalCount === 0" class="empty-result-text">Ops, We didn't find anything with this filter, Please try again</div>
        <div class="card-grid">
          <div class="item-cards" *ngFor="let item of products">
            <app-product-item [product]="item"></app-product-item>
        </div>
      </div>
    </div>


</div>
