<div [ngClass]="menuState === 'in' ? 'overflow-removed' : 'overflow-normal'">
<div class="mobile-filter-container">
  <div>
    <img src="/assets/images/FilterIcon_1.svg" style="max-height: 30px" alt="FilterIcon">
  </div>
  <div class="filter-headline-mobile-label">
    <span>Filter</span>
  </div>
</div>

<div class="shop-cart-window" [@slideInOut]="menuState">
  <button (click)="toggleMenu()">Toggle Thingy</button>
  <div class="shop-cart-panel">
    <div class="shop-cart-panel-content">
      <div class="cart-always-shown">
        <div>Your Cart</div>
        <div (click)="toggleMenu()" class="exit-symbol"><i class="fa fa-times" aria-hidden="true"></i></div>
      </div>
      <div class="cart-product-container">
        <app-basket></app-basket>
      </div>
    </div>
  </div>
</div>


<div>
  <button (click)="toggleMenu()">Toggle Thingy</button>
</div>
<div class="container-shop">


  <div class="tempMenu">
    <div class="filter-header">

      <div class="filter-headline">
        <div class="filter-icon">
          <img src="/assets/images/FilterIcon_1.svg" style="max-height: 35px" alt="FilterIcon">
        </div>
          <span class="filter-headline-label">
            Filter
          </span>
      </div>

    </div>

  <div class="filter-alternatives">
    <div class="dropdown-filter-holder">
     <div class="dropdown">
      <accordion [isAnimated]="true" class="customClass">
        <accordion-group [panelClass]="customClass" [isOpen]="true">
          <button class="button-28" accordion-heading type="button">
            <div>Types</div>
          </button>
          <div>
            <ng-container *ngIf="productTypes && brands">
              <ul class="filter-ul-items">
                <li class="filter-list-items" tabindex="0"
                  *ngFor="let productType of productTypes"
                  [class.active]="productType.id === this.shopParams.typeId"
                  [value]="productType.id"
                  (click)="onTypeSelected(productType.id)">
                  {{productType.name}}
                </li>
              </ul>
            </ng-container>
          </div>

        </accordion-group>
        <accordion-group [panelClass]="customClass" [isOpen]="true">
          <button class="button-28" accordion-heading type="button">
            Price
          </button>
          <ng-container *ngIf="productTypes && brands">
           <ul class="filter-ul-items">
            <li class="filter-list-items" tabindex="1"
              *ngFor="let sort of sortOptions"
              [class.active]="shopParams.sort === sort.value"
              [value]="sort.value"
              (click)="onSortSelected(sort.value)">
              {{sort.name}}
              </li>
           </ul>
          </ng-container>
        </accordion-group>
        <accordion-group [panelClass]="customClass" [isOpen]="true">
          <button class="button-28" accordion-heading type="button">
            Brand
          </button>
         <div>
          <ng-container *ngIf="productTypes && brands">
            <ul class="filter-ul-items">
              <li class="filter-list-items" tabindex="2"
                *ngFor="let brand of brands"
                [class.active]="brand.id === this.shopParams.brandId"
                [value]="brand.id"
                (click)="onBrandSelected(brand.id)">
                {{brand.name}}
              </li>
           </ul>
          </ng-container>
         </div>
        </accordion-group>
      </accordion>
     </div>
    </div>
  </div>
  </div>



    <div class="products-holder">
      <div class="card-grid">
        <div class="item-cards" *ngFor="let item of products">
          <app-product-item [product]="item"></app-product-item>
        </div>
      </div>
    </div>



</div>
</div>
