
// Old thingy
.list-group-item {
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  font-size: 1.1em;

  &:focus {
    outline: none;
  }

  &.active {
    border-radius: 10px;
  }

  &:not(.active):hover {
    color: #fff;
    background-color: #7e77775b;
    border-radius: 10px;
  }
}

.item-cards {
  float: right;

}

// Testing area

.card-grid {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, 0.1fr);
  grid-auto-rows: auto;
  grid-gap: 0;

}


