<div class="py-5">
  <div class="container">
    <ng-container *ngIf="!addPhotoMode">
      <div class="d-flex justify-content-between mb-3">
        <span class="product-photo-title">Product Photos</span>
        <button class="add-now-btn" (click)="addPhotoModeToggle()">
          Add New Photo
        </button>
      </div>
      <div class="row-custom">
        <div class="col-custom" *ngFor="let photo of product?.photos">
          <div class="card">
            <img class="card-img-top" width="100%" height="225" src="{{photo.pictureUrl}}" alt="{{photo.fileName}}"/>
            <div class="btn-group-custom" style="width: 100%">
              <button type="button"
                      (click)="setMainPhoto(photo.id)"
                      [disabled]="photo.isMain"
                      class="{{photo.isMain ? 'img-controll-btn' : 'img-hollow-controll-btn'}}"
                      style="width: 50%"><ng-container *ngIf="photo.isMain === false">Set</ng-container> Main image
              </button>
              <button
                (click)="deletePhoto(photo.id)"
                type="button"
                [disabled]="photo.isMain"
                class="{{photo.isMain ? 'img-delete-controll-btn' : 'img-delete-hollow-controll-btn'}}"
                style="width: 50%"><i class="fa fa-trash"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="addPhotoMode">
      <div class="d-flex justify-content-between mb-3">
        <span class="product-photo-title-large">Add new product image</span>
        <button class="img-delete-hollow-controll-btn" (click)="addPhotoModeToggle()">Cancel</button>
      </div>
      <div class="app-widget-container">
        <app-photo-widget (addFile)="uploadFile($event)"></app-photo-widget>
      </div>
    </ng-container>
  </div>
</div>
