<!--Basket overlay -->
<div [ngClass]="menuState === 'in' ? 'overflow-removed' : 'overflow-normal'">
<div class="shop-cart-window" [@slideInOut]="menuState">
  <div class="pane-toggle-unseen">
    <button class="toggle-shop-menu-section-btn" (click)="toggleMenu()"></button>
  </div>
  <div class="shop-cart-panel">
    <div class="shop-cart-panel-content">
      <div class="cart-always-shown">
        <div class="user-cart-text">Your Cart</div>
        <div (click)="toggleMenu()" class="exit-symbol"><img src="/assets/images/close-icon-3.svg" class="picture.fluid-2" style="max-height: 0.65em;" alt="close-icon"></div>
      </div>
      <div *ngIf="(basket$ | async) == null">
        <div class="empty-cart">
          <div class="cart-info-empty">
            <div class="empty-cart-info">
              Wops, there are no items in the cart yet
              <div class="button-holder"><button class="shop-now-btn"
                role="button"(click)="toggleMenu()"
                routerLink="/shop" routerLinkActive="active">Shop now</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cart-product-container">
        <app-basket></app-basket>
        <div class="divider-basket"></div>
        <div *ngIf="(basket$ | async) !== null" class="checkout-button-holder">
          <ng-container *ngIf="(currentUser$ | async)">
            <button (click)="toggleMenu()" routerLink="/checkout" class="checkout-btn" role="button">Checkout</button>
          </ng-container>
          <ng-container *ngIf="(currentUser$ | async) === null">
           <div class="login-prompt">
            <span class="prompt-login-text">Please login to continue to checkout</span>
            <button (click)="toggleMenu()" routerLink="/account/login" class="checkout-btn" role="button">Sign in</button>
           </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End of Basket overlay-->

<!--hamburger overlay-->
<div [ngClass]="hamburgerMenuState === 'in_b' ? 'overflow-removed' : 'overflow-normal'">
<div class="hamburger-window" [@slideInOut_burger]="hamburgerMenuState">
  <div class="hamburger-panel">
    <div class="hamburger-nav-content">
      <div class="header-mobile-nav">
        <div *ngIf="(currentUser$ | async) === null" class="mobile-nav-greeting">Happy seeing you!</div>
        <div *ngIf="(currentUser$ | async)" class="mobile-nav-greeting">Happy seeing you {{(currentUser$ | async).displayName}}!</div>
        <div class="decoration-line"></div>
        <div class="mobile-menu-item-list">
          <div class="mobile-menu-item">Shop</div>
          <div *ngIf="(currentUser$ | async)" class="mobile-menu-item">Order history</div>
          <div class="mobile-menu-item">FAQ</div>
          <div class="mobile-menu-item">Contact us</div>
        </div>
        <div class="active-menu-list">
          <div *ngIf="(isAdmin$ | async) && (currentUser$ | async)" class="active.menu-list-item">
            <button class="button-ad" routerLink="/admin" routerLinkActive="active" (click)="toggleHamburgerMenu()">Admin Panel <i class="fa fa-tasks" aria-hidden="true"></i></button>
          </div>
          <div class="active-menu-list-user">
            <div *ngIf="(currentUser$ | async) === null" (click)="toggleHamburgerMenu()"routerLink="/account/login">
              <i class="fa fa-sign-in" aria-hidden="true"></i> Sign in
            </div>
            <div *ngIf="(currentUser$ | async)" (click)="logout()"><i class="fa fa-sign-out mr-1"></i> Logout</div>
          </div>
        </div>
      </div>
    <div class="colored-panel"></div>
  </div>
</div>
</div>


<!--End of hamburger overlay-->



  <header class="navbar-main">

    <nav class="navbar-desktop">
      <div  class="expand-sign">
        <button class="bento-menu">
          <img src="/assets/images/Bento_menu.svg" style="max-height: 20px" alt="bentoMenu" (click)="toggleHamburgerMenu()">
        </button>
      </div>
      <div class="navbarTop">
      <img src="/assets/images/Mjaubie_new_logo_blue.svg" alt="Mjaubie blue logo" class="logo" routerLink="/">
        <div *ngIf="(isAdmin$ | async)" class="ad-btn-holder">
          <button *ngIf="(isAdmin$ | async)" class="button-ad" routerLink="/admin" routerLinkActive="active">Admin Panel <i class="fa fa-tasks" aria-hidden="true"></i></button>
        </div>
        <ul class="nav-links">
          <li><a class="nav-bar-text" routerLink="/shop" routerLinkActive="active"><div class="shop-link-text">Shop</div></a></li>
          <li>
            <ng-container *ngIf="(currentUser$ | async) === null">
              <a class="nav-bar-text" routerLink="/account/login">Sign In</a>
            </ng-container>
            <ng-container *ngIf="currentUser$ | async">
              <div class="btn-group" dropdown>
                <button id="button-animated" dropdownToggle type="button" class="empty-btn"
                        aria-controls="dropdown-animated">
                        <a class="nav-bar-user">Welcome {{(currentUser$ | async).displayName}} <i class="fa fa-caret-down" aria-hidden="true"></i></a>
                </button>
                <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu" style="cursor: pointer;"
                    role="menu" aria-labelledby="button-animated">
                  <li role="menuitem"><a class="dropdown-item d-flex align-items-center py-2" routerLink="/orders"><i class="fa fa-history mr-3"></i> View Orders</a></li>
                  <li class="divider dropdown-divider"></li>
                  <li role="menuitem"><a class="dropdown-item d-flex align-items-center py-2" (click)="logout()"><i class="fa fa-sign-out mr-3"></i> Logout</a>
                  </li>
                </ul>
              </div>
          </ng-container>
          </li>
        </ul>
      </div>

        <button class="activate-cart" (click)="closeHamburgerMenu()" (click)="toggleMenu()">
          <img class="shop-cart" src="/assets/images/Shop-Cart_blue.svg" style="width: 26px; height: 18px;" alt="shopping-cart">
            <div *ngIf="(basket$ | async) as basket" class="cart-no">
              <div class="item-quantity-basket">
                {{basket.items.length}}
              </div>
            </div>
        </button>
      </nav>
  </header>
</div>


