

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');
$montserrat-font: 'Montserrat', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet');
$main-font: 'Roboto', sans-serif;


$primary-font-color: #006EB9;
$accent-color: #76C9BE;

.user-style-nav-welcome {
  font-family: $montserrat-font;
  color: #212529;
  text-decoration: none;
}

.ad-btn-holder {
  margin-left: 10em;
}

.fa-tasks {
  margin-left: 0.5em;
  font-size: 1.1em;
}

 .button-ad {
  display: inline-block;
  padding: 12px 24px;
  border: 1px solid #ffffff;
  border-radius: 2px;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  font-size: 0.865em;
  font-weight: 600;
  color: #212529;
  background-color: white;
  font-family: $montserrat-font;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
 }

 .button-ad:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
 }

 .button-ad:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #1F80BF;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
 }

 .button-ad:hover {
  color: #ffffff;
  border: 1px solid #1F80BF;
 }

 .button-ad:hover:before {
  top: -35%;
  background-color: #1F80BF;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
 }

 .button-ad:hover:after {
  top: -45%;
  background-color: #1F80BF;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
 }


.shop-link-text {
  font-family: $montserrat-font;
  margin-top: 0.39em;
}

.cart-no {
  padding-top: 3px;
  position: relative;
  min-height: 25px;
  min-width: 25px;
  font-size: 0.9em;
  color: #3c3d3d;
  text-align: center;
  font-family: $montserrat-font;
  font-weight: 600;

}

.logo{
  cursor: pointer;
  //height: 28px;
  width: 6.3em;

}

.activate-cart{
  display: flex;
  border: none;
  margin: 0;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;

}

.bento-menu{
  border: none;
  margin: 0;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
  align-items: center;
}

.navbar-main {
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 1000;
}

.navbar-desktop {

  position: relative;
  top: 0;
  width: 100%;
  margin: auto;
  display: flex;
  padding: 0 24px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  align-items: center;
  justify-content: space-between;
  background-color: white;

  //fixed height
  height: 3.5em;


}



.navbarTop{

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 15em;
  padding-top: 15px;
}
.nav-links a{
  color: $primary-font-color;
  font-family: $montserrat-font;
  text-decoration: none;
  font-size: .8rem;
  text-align: center;
  font-weight: 700;
}


.nav-links li{
  list-style: none;
}

.expand-sign{
  display: none;
}

.expand-sign div{
  width: 25px;
  height: 2px;
  background-color: $primary-font-color;
  margin: 5px;
}

.empty-btn {
  border: none;
  background: transparent;
  font-family: $montserrat-font;
}

@media screen and (min-width: 900px) {
  .navbarTop {
    flex: 1;
  }
}

@media screen and (max-width: 1200px) {
  .nav-links {
    width: 35%;
  }
}

@media screen and (max-width: 966px) {
   .navbar-desktop{
     display: flex;
     align-items: center;
     position: relative;
     height: 3.5em;
     padding: 0 0 0 10px;
   }
   .logo{
    display: block;
  }
  .nav-links{
    display: none;
  }
  .ad-btn-holder {
    display: none;
  }
  .expand-sign{
    display: block;
    cursor: pointer;
  }
  .shop-cart {
    margin-right: .3em;
  }
}

.nav-active{
  transform: translateX(0%);
}
//hamburger overlay¨
.hamburger-window {
  position: fixed;
  width: 100%;
  top: 3.5em;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(3px);
  z-index: 1010;
}


.hamburger-panel {
  max-width: 30rem;
  position: absolute;
  top: 0em;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 12;
  background-color: white;
}

.hamburger-panel-content {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;

}

.mobile-navigation-menu {
  margin-left: 1em;
  padding-top: 3em;
  display: grid;
  text-align: left;
  justify-content: center;

}


.ad-btn-holder-mobile {
  margin-top: 2em;
  position: absolute;
  bottom: 20em;
  left: 33%;
}

.user-specific {
  margin-top: 3em;
}

.colored-panel {
  background: $primary-font-color;
  width: 100%;
  height: 3em;
  position: absolute;
  bottom: 0;
}

//end of hamburger overlay


//invisible btn toggle pane
.pane-toggle-unseen {
  background: transparent;
  position: absolute;
  left: 0;
  height: 100%;
  width: calc(100% - 30rem);
}

.toggle-shop-menu-section-btn {
  cursor: default;
  background: transparent;
  border: none;
  height: 100%;
  width: 100%;
}

//End of btn toggle pane

.shop-cart-window {
  z-index: 1010;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(3px);
}

.shop-cart-panel {
  max-width: 30rem;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 1010;
  background-color: white;
}

.shop-cart-panel-content::-webkit-scrollbar {
  display: none;
}

.shop-cart-panel-content {
  z-index: 1010;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;

}

.user-cart-text {
  margin-left: 2em;
  font-size: 0.9em;
  font-weight: 500;
}

.cart-always-shown {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $montserrat-font;
  font-weight: 700;
  font-size: 1.2em;
  color: #1F80BF;
  padding-top: 1em;
  padding-bottom: 1.1em;
  margin-left: 6em;
  margin-top: .7em;

}

.cart-product-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.exit-symbol {
  //font-size: 1.3em;
  margin-left: 5em;
  cursor: pointer;
  color: #BF1F80 ;
}

.overflow-removed {
  overflow: hidden;
}

.overflow-normal {
  height: 100%;
}

.empty-cart {
  display: flex;
  justify-content: center;
}

.cart-info-empty {
  padding-top: 3em;
  display: flex;
  justify-content: center;
 }

 .empty-cart-info {
  width: 15em;
  text-align: center;
  font-size: 1.5em;
  font-family: $montserrat-font;
  font-weight: 700;
  color: #1F80BF;

}

.button-holder {
  margin-top: 2em;
}

.shop-now-btn {
  align-items: center;
  background-color: #1F80BF;
  border: 2px solid #1F80BF;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: $montserrat-font;
  font-size: 16px;
  font-weight: 600;
  height: 4.5em;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  width: 100%;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.shop-now-btn:focus {
  color: #171e29;
}

.shop-now-btn:hover {
  background-color: #3385ff;
  border-color: #3385ff;
  fill: #06f;
}

.shop-now-btn:active {
  background-color: #3385ff;
  border-color: #3385ff;
  fill: #06f;
}

@media (min-width: 768px) {
  .shop-now-btn {
    min-width: 170px;
  }
}

.divider-basket {
  height: 5em;
}

.checkout-button-holder {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.checkout-btn {
  align-items: center;
  background-color: #1F80BF;
  border: 2px solid #1F80BF;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: $montserrat-font;
  font-size: 16px;
  font-weight: 600;
  height: 4.5em;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  width: 100%;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.checkout-btn:focus {
  color: #171e29;
}

.checkout-btn:hover {
  background-color: #3385ff;
  border-color: #3385ff;
  fill: #06f;
}

.checkout-btn:active {
  background-color: #3385ff;
  border-color: #3385ff;
  fill: #06f;
}
.item-quantity-basket {
  font-weight: 700;
  margin-top: 0.15em;
  font-size: 0.9em;
  color: #BF1F80;

}

.hamburger-nav-content {
  display: flex;
  justify-content: center;
}

.header-mobile-nav {
  margin-top: 2em;
}

.mobile-nav-greeting {
  font-family: $montserrat-font;
  color: $primary-font-color;
  font-size: 1.75em;
  font-weight: 800;
  text-align: center;
  margin-left: 0.65em;
  margin-right: 0.65em;
}

.decoration-line {
  border-bottom: 1px solid #76C9BE;
  width: 60%;
  margin-left: 20%;
  margin-top: 1em;
  margin-bottom: 1em;
}

.mobile-menu-item-list {
  margin-top: 1.95em;
  display: flex;
  flex-direction: column;

}

.mobile-menu-item {
  font-family: $montserrat-font;
  font-weight: 500;
  font-size: 1.25em;
  margin-left: 2.75em;
  margin-bottom: 0.5em;
}

@media screen and(max-height: 669px) {
  .active-menu-list {
    bottom: 5em !important;
  }

}

.active-menu-list {
  position: absolute;
  bottom: 10em;
  left: 29%;
}

.active.menu-list-item {
  display: flex;
  justify-content: center;
}

.active-menu-list-user {
  position: relative;
  margin-top: 3em;
  margin-left: 2em;
  font-size: 1.2em;
  font-family: $montserrat-font;
  font-weight: 500;

}
